* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(45, 181, 253, 0.69) 0%,
    rgba(82, 55, 245, 0.87) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  margin: 10% auto 0;
  padding: 24px 0 24px;
  max-width: 50vw;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.main h1 {
  margin-bottom: 32px;
  text-align: center;
}

.card {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 32px;
}

.card span {
  display: inline-block;
}

.quote {
  display: inline-block;
  font-size: 1.2rem;
}

.author {
  text-align: right;
  padding-right: 36px;
  font-size: 1.12rem;
  font-weight: 500;
}

button {
  display: block;
  margin-top: 16px;
  border: none;
  padding: 8px 16px;
  color: white;
  background-color: rgba(82, 55, 245, 0.87);
  border-radius: 5px;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 36px;
}
